<!DOCTYPE html>
<html>
  <head><title>getUserMedia</title></head>
  <body>
    <video autoplay></video>
<button>Testing event</button>
    <script>
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

      var constraints = { audio: false, video: true };
      var video = document.querySelector("video");

      function successCallback(stream) {
        video.src = window.URL.createObjectURL(stream);
     
      };

      function errorCallback(error){
        console.log("getUserMedia error: ", error);
      }

      navigator.getUserMedia(constraints, successCallback, errorCallback);

      var button = document.querySelector("button")

      button.addEventListener('click', function() {
        console.log('hello') })
    
    </script>

  </body>


</html>