<h1 id="welcome">Welcome to video app!</h1>
<h2>Upload your video here:</h2>
<form id="video-upload" method=post enctype="multipart/form-data" action="/upload">
	Video to upload: <input type="file" name="newupload"><br>
	<input type="submit" value="Submit">
</form>


